<html>
  <head>
    <title>Gabber</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      ul#messages { list-style: none; }
      ul#messages li { margin-bottom: 2px; }
      ul#messages li img { margin-right: 10px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <ul id="messages"></ul>
        </div>
      </div>
      <form id="chat" role="form">
        <div class="form-group">
          <label for="message">Send a message as {{.UserData.name}}</label> or <a href="/logout">Sign Out</a>
          <textarea id="message" class="form-control"></textarea>
        </div>
        <input type="submit" value="Send" class="btn btn-primary">
      </form>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script>
      $(function() {
        var socket = null;
        var msgBox = $("#chat textarea");
        var messages = $("#messages");
        $("#chat").submit(function() {
          if (!msgBox.val()) return false;
          if (!socket) {
            alert("Error: There is no socket connection.");
            return false;
          }
          socket.send(JSON.stringify({"Message": msgBox.val()}));
          msgBox.val("");
          return false;
        });
        if (!window["WebSocket"]) {
          alert("Your browser does not support websockets");
        } else {
          socket = new WebSocket("ws://{{.Host}}/room");
          socket.onclose = function() {
            alert("Your socket has been closed.");
          }
          socket.onmessage = function(e) {
            var msg = JSON.parse(e.data);
            messages.append(
              $("<li>").append(
                $("<img>").attr("title", msg.Name).css({
                  width:50,
                  verticalAlign:"middle"
                }).attr("src", msg.AvatarURL),
                $("<strong>").text(msg.Name + ": "),
                $("<span>").text(msg.Message)
              )
            );
          }
        }
      });
    </script>
  </body>
</html>